<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="2" name="Suite" parallel="tests" >
    <listeners>
        <listener class-name="com.InvokedMethodListener"></listener>
    </listeners>
    <test name="com.FirstTest" parallel="methods" thread-count="4">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.FirstTest">

            </class>
        </classes>
    </test>
    <test name="com.SecondTest"  parallel="methods" thread-count="2">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.SecondTest">
                <methods>
                    <exclude name="GOOGLE1" />
                    <exclude name="YANDEX" />
                </methods>
            </class>
        </classes>
    </test>
</suite>